<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
  	<servlet-name>ERSServlet</servlet-name>
    <servlet-class>com.revature.view.servlet.ERSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ERSServlet</servlet-name>
  	<url-pattern>/ers</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.view.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MainButtonServlet</servlet-name>
    <servlet-class>com.revature.view.servlet.MainButtonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainButtonServlet</servlet-name>
  	<url-pattern>/mainButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>com.revature.view.servlet.ReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReceiptServlet</servlet-name>
  	<url-pattern>/receipt</url-pattern>
  	<url-pattern>/receipt/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReimbServlet</servlet-name>
    <servlet-class>com.revature.view.servlet.ReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReimbServlet</servlet-name>
  	<url-pattern>/reimbButton</url-pattern>
  	<url-pattern>/reimbButton/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.revature.view.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>